{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/e298a74f41.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/attendence.css' %}">
    <title>Student View</title>
</head>
<body>
    <div class="header">
        <div class="container">
        <img src="https://www.yuvaparivartan.org/img/logo1.jpg" id="logo">
        <span>Giving the youth a second chance</span>
        <span id="Donate">
        <img src="https://www.yuvaparivartan.org/img/skill-nsdc.png">
        <br>
        <button type="button" class="btn btn-danger btn-lg">Donate Now</button>
        </div>

        <h3 id="middle1"></h3>
    </div>

    <div class="row">
  <div class="col-md-3 menu">
  <ul>
  <li>Academic Calender</li>
  <li id="#att"><a href="{% url 'Attendence' %}">Attendance</a></li>
  <li>profile</li>
          <li>Student  Information</li>
          <li><a href="{% url 'Employee_View' %}">Employee Information</a></li>
          <li>Donation Information</li>
          <li>Expenses</li>
          <li>Reports</li>
          <li>Upload Data</li>
          <li>Broadcast Message</li>
  </ul>
  </div>
  <div class="col-md-9">
        <span id="batch">Batch Id:</span>
        <br>
  <input type="text" name="Batch-id">
        <br>
        <div id="batch">
          <span>Date: </span>
          <br>
          <input type="date" name="Date">
        </div>
  </div>
      <button class="btn btn-lg">Submit</button>
</div>
</body>
</html>

