{% load static %}

<div class="container p-2">
    <div class="row align-items-end">
        <div class="col-12 col-sm-12 col-md-3 mb-2 m15md"><a href="/"><img src="https://www.yuvaparivartan.org/img/logo1.jpg" alt="Yuvaparivartan Logo" class="img-fluid imglc"></a></div>
        <div class="col-sm-12 col-md-6 text-center text-uppercase text-danger mb-1">
            <h4>Giving Youth A Second Chance</h4>
        </div>
        <div class="col-12 col-sm-12 col-md-3 textrc">
            <div class="col-12 p-1 m15md">
            <img src="https://www.yuvaparivartan.org/img/skill-nsdc.png" alt="skill-nsdc" width="145" height="48">						</div>
            <div class="col-12 p-1 m15md"><a href="/donate"><button type="button" class="btn btn-danger text-uppercase imgrc">Donate Now</button></a></div>
        </div>
    </div>
</div>
{% block mainblock %}
{% endblock %}
